<section class="home">
  <img src="../../../assets/logo.png" alt="card game logo" class="home__logo" />

  <div class="home__start">
    <mat-form-field appearance="outline" class="start__input">
      <mat-label>Nombre equipo/jugador</mat-label>
      <input matInput placeholder="Nombre" />
    </mat-form-field>

    <button
      mat-fab
      color="primary"
      class="start__btn"
      (click)="navigateToPlay()"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>

  <div class="home__footer">
    <a
      href="https://github.com/yazzuke/cardgame"
      target="_blank"
      title="Github Repo"
    >
      <img src="../../../assets/icons/github.svg" alt="github" width="25" />
    </a>

    <p>hecho por ... <a [routerLink]="'/made-by'">click aqui</a></p>
  </div>
</section>
