<!-- made-by.component.html -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
<section class="titulo">
    <h1 style="font-family:'Sixtyfour', sans-serif; font-size: 50px;">
        Nuestro equipo de trabajo
    </h1>
</section>
<div class="contenedor">
<section class="desarrollador">
    <a href="https://github.com/yazzuke" target="_blank" title="Desarrollador Frontend">
        <img src="../../../assets/icons/github.svg" alt="github" width="35" />
    
    <p>
        <br><br>
        Juan Felipe Avila
    </p></a>
</section>
<section class="desarrollador">
    <a href="https://github.com/Franquito1" target="_blank" title="Colaborador asistente">
        <img src="../../../assets/icons/github.svg" alt="github" width="35" />
    
    <p>
        <br><br>
        Juan David Franco
    </p></a>
</section>
<section class="desarrollador">
    <a href="https://github.com/yazzuke" target="_blank" title="Desarrollador Frontend">
        <img src="../../../assets/icons/github.svg" alt="github" width="25" />
    
    <p>
        <br><br>
        Juan Felipe Avila
    </p></a>
</section>
<section class="desarrollador">
    <a href="https://github.com/yazzuke" target="_blank" title="Desarrollador Frontend">
        <img src="../../../assets/icons/github.svg" alt="github" width="25" />
    
    <p>
        <br><br>
        Juan Felipe Avila
    </p></a>
</section>
</div>