<!-- made-by.component.html -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
<section class="titulo">
    <h1 style="font-family:'Sixtyfour', sans-serif; font-size: 50px;">
        Nuestro equipo de trabajo
    </h1>
</section>
<div class="contenedor">
    <section class="desarrollador">
        <a href="https://github.com/yazzuke" target="_blank" title="Desarrollador Backend">
            <img src="../../../assets/icons/github.svg" alt="github" width="35" />
            <a href="https://www.instagram.com/yazzuke_/" target="_blank" title="Desarrollador Backend">
                <img src="../../../assets/icons/ig.svg" alt="github" width="35" /></a>

            <p>
                <br><br>
                Juan Felipe Avila
            </p>
        </a>
    </section>
    <section class="desarrollador">
        <a href="https://github.com/Franquito1" target="_blank" title="Colaborador asistente">
            <img src="../../../assets/icons/github.svg" alt="github" width="35" />
            <a href="https://www.instagram.com/juan_davidfv/" target="_blank" title="Desarrollador Backend">
                <img src="../../../assets/icons/ig.svg" alt="github" width="35" /></a>

            <p>
                <br><br>
                Juan David Franco
            </p>
        </a>
    </section>
    <section class="desarrollador">
        <a href="https://github.com/Vsjee" target="_blank" title="Desarrollador Frontend">
            <img src="../../../assets/icons/github.svg" alt="github" width="35" />
            <a href="https://www.instagram.com/yazzuke_/" target="_blank" title="Desarrollador Frontend">
                <img src="../../../assets/icons/ig.svg" alt="github" width="35" /></a>

            <p>
                <br><br>
                David Hernandez
            </p>
        </a>
    </section>
    <section class="desarrollador">
        <a href="https://github.com/DRAK099" target="_blank" title="Soporte audiovisual">
            <img src="../../../assets/icons/github.svg" alt="github" width="35" />
            <a href="https://www.instagram.com/kevin_c_29" target="_blank" title="Soporte audiovisual">
                <img src="../../../assets/icons/ig.svg" alt="github" width="35" /></a>

            <p>
                <br><br>
                Kevin Canizares
            </p>
        </a>
    </section>
</div>